<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Import Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'diagrams/style.css' %}" />

<ul id="dropdown1" class="dropdown-content">
  <li><a href="add_user/">Crear Usuario</a></li>
  <li class="divider"></li>
  <li><a href="/diagrams/login">Logout</a></li>
</ul>
<nav>
  <div class="container nav-wrapper">
    <a href="/diagrams/" class="brand-logo" style="font-weight: 300">CIOTool</a>
    <ul class="right hide-on-med-and-down">
      <li><i class="material-icons">perm_identity</i></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user }}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<main class="container" style="padding-top: 20px">
  <div class="row">
    <form class="col s6" method="post">{% csrf_token %}
      <h5 class="green-text">Introduce los datos del usuario:</h5>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="username" type="text" class="validate">
          <label for="email">Username</label>
        </div>
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <h5 class="green-text">Asgina un Rol:</h5>
      <p>
        <input class="with-gap" type="radio" name="rol" id="test1" value="Usuario"/>
        <label for="test1">Usuario</label>
      </p>
      <p>
        <input class="with-gap" type="radio" name="rol" id="test2" value="Constructor"/>
        <label for="test2">Constructor</label>
      </p>
      <div style='float: right;'>
        <button class="btn waves-effect waves-light" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>

    <div class="col s4 offset-s2">
      <ul class="collection with-header">
        <li class="collection-header"><h5 class="green-text">Usuarios</h5></li>
        {% for user in users %}
        <li class="collection-item avatar">
          <i class="material-icons circle">perm_identity</i>
          <span class="title">{{ user }}</span>
          <p>{{ user.groups.all.0.name }}</p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
