<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Import Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'diagrams/style.css' %}" />



 <ul id="dropdown1" class="dropdown-content">
   {% if user.groups.all.0.name == 'Admin' %}
   <li><a href="add_user/">Crear Usuario</a></li>
   {% endif %}
   <li class="divider"></li>
   <li><a href="/diagrams/login">Logout</a></li>
 </ul>
 <nav>
   <div class="container nav-wrapper">
     <a href="/diagrams/" class="brand-logo" style="font-weight: 300">CIOTool</a>
     <ul class="right hide-on-med-and-down">
       <li><i class="material-icons">perm_identity</i></li>
       <!-- Dropdown Trigger -->
       <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user }}<i class="material-icons right">arrow_drop_down</i></a></li>
     </ul>
   </div>
 </nav>


 <main>
   <div class="container" style="margin-top: 20px">
     <div class="row">
       <!-- Panel to VIEW the construction -->
       <div class="col s11">
         <div class="green-text" style="font-size: 20px; font-weight: 300"><b>2. </b>Adjunta documentos y modifica campos</div>
         <div class="panel">
           <div class="row" style="margin-bottom: 0">
              <div class="input-field col s6" style="margin-top: 0">
                <input style="font-style: italic" placeholder="- Introduce nombre del diagrama -"
                  id="diagram-name" type="text" class="validate" value="{{ diagram.diagram_name }}">
              </div>
            </div>
            {% for layer in diagram.layer_set.all %}
             <div class="row">
               <div class="col s3" style="text-align: center;"><textarea class='layer-name' id="txtlayer1">{{ layer.layer_name }}</textarea></div>
               {% with arr_txt=layer.textfield_set.all arr_ar=layer.arrow_set.all %}
               <div class="col s9 panel-uso detail-show">
                 <div style="background-color: {{ layer.color }};"class="capa">
                   <table>
                     <tbody>
                       <tr>
                         <td><textarea class='txt_content' href="{% url 'diagrams:modify_txt' arr_txt.0.id  %}"
                           onclick="show_description('{{ arr_txt.0.txt_name }}', '{{ arr_txt.0.description }}')"
                              id="{{ arr_txt.0.id }}">{{ arr_txt.0.txt_name }}</textarea></td>
                         <td><i id="{{ arr_ar.0.id }}" class="{{ arr_ar.0.direction_class }}" aria-hidden="true"></i></td>
                         <td><textarea class='txt_content' href="{% url 'diagrams:modify_txt' arr_txt.1.id  %}"
                           onclick="show_description('{{ arr_txt.1.txt_name }}', '{{ arr_txt.1.description }}')"
                            id="{{ arr_txt.1.id }}">{{ arr_txt.1.txt_name }}</textarea></td>
                         <td><i id="{{ arr_ar.1.id }}" class="{{ arr_ar.1.direction_class }}" aria-hidden="true"></i></td>
                         <td><textarea class='txt_content' href="{% url 'diagrams:modify_txt' arr_txt.2.id  %}"
                           onclick="show_description('{{ arr_txt.2.txt_name }}', '{{ arr_txt.2.description }}')"
                             id="{{ arr_txt.2.id }}">{{ arr_txt.2.txt_name }}</textarea></td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
                 <div class="flechas" style="color: {{ layer.color }};">
                   <div class="row">
                     <table>
                       <tbody>
                         <tr>
                           <td>
                             <textarea class='txt_content' href="{% url 'diagrams:modify_txt' arr_txt.3.id  %}"
                                onclick="show_description('{{ arr_txt.3.txt_name }}', '{{ arr_txt.3.description }}')"
                                 id="{{ arr_txt.3.id }}">{{ arr_txt.3.txt_name }}</textarea>
                             <i id="{{ arr_ar.2.id }}" style="color: {{ layer.color }}" class="{{ arr_ar.2.direction_class }}" aria-hidden="true"></i>
                           </td>
                           <td>
                             <textarea class='txt_content' href="{% url 'diagrams:modify_txt' arr_txt.4.id  %}"
                                onclick="show_description('{{ arr_txt.4.txt_name }}', '{{ arr_txt.4.description }}')"
                                 id="{{ arr_txt.4.id }}">{{ arr_txt.4.txt_name }}</textarea>
                             <i id="{{ arr_ar.3.id }}" style="color: {{ layer.color }}" class="{{ arr_ar.3.direction_class }}" aria-hidden="true"></i>
                             </td>
                           <td>
                             <textarea class='txt_content' href="{% url 'diagrams:modify_txt' arr_txt.5.id  %}"
                                onclick="show_description('{{ arr_txt.5.txt_name }}', '{{ arr_txt.5.description }}')"
                                 id="{{ arr_txt.5.id }}">{{ arr_txt.5.txt_name }}</textarea>
                             <i id="{{ arr_ar.4.id }}" style="color: {{ layer.color }}" class="{{ arr_ar.4.direction_class }}" aria-hidden="true"></i>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
               {% endwith %}
             </div>
              {% endfor %}
             <form id="save-diagram">{% csrf_token %}
               <button class="btn-floating btn-large waves-effect waves-light green" type="submit" name="action">
                 <i class="fa fa-floppy-o" aria-hidden="true"></i>
               </button>
             </form>
            </div>
          </div>
       </div>
     </div>
   </div>
 </main>


 <!--Import jQuery before materialize.js-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
 <script type="text/javascript" src="{% static 'diagrams/functions.js' %}"></script>
