<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Import Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'diagrams/style.css' %}" />



 <ul id="dropdown1" class="dropdown-content">
   {% if user.groups.all.0.name == 'Admin' %}
   <li><a href="add_user/">Crear Usuario</a></li>
   {% endif %}
   <li class="divider"></li>
   <li><a href="/diagrams/login">Logout</a></li>
 </ul>
 <nav>
   <div class="container nav-wrapper">
     <a href="/diagrams/" class="brand-logo" style="font-weight: 300">CIOTool</a>
     <ul class="right hide-on-med-and-down">
       <li><i class="material-icons">perm_identity</i></li>
       <!-- Dropdown Trigger -->
       <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user }}<i class="material-icons right">arrow_drop_down</i></a></li>
     </ul>
   </div>
 </nav>


 <main>
   <div class="container" style="margin-top: 20px">
     <div class="row">
       <!-- Panel to VIEW the construction -->
       <div class="col s9">
         <div class="green-text" style="font-size: 20px; font-weight: 300"><b>2. </b>Añade capas y modifica flechas o campos</div>
         <div class="panel">
           <div class="row" style="margin-bottom: 0">
              <div class="input-field col s6" style="margin-top: 0">
                <input style="font-style: italic" placeholder="- Introduce nombre del diagrama -"
                  id="diagram-name" type="text" class="validate">
              </div>
            </div>
            <div id="clon1">
              <div class="row">
                <div class="col s3"><textarea class="layer-name" id="txtlayer1"></textarea></div>
                <div class="col s9 panel-uso">
                  <div id="layer-1" class="capa">
                    <table>
                      <tbody>
                        <tr>
                          <td><textarea class='txt_content' id="txt-1-1"></textarea></td>
                          <td><i id="arrow-1-1" class="arrow fa fa-arrow-right fa-2x editable-arrow-lr" aria-hidden="true"></i></td>
                          <td><textarea class='txt_content' id="txt-2-1"></textarea></td>
                          <td><i id="arrow-2-1" class="arrow fa fa-arrow-right fa-2x editable-arrow-lr" aria-hidden="true"></i></td>
                          <td><textarea class='txt_content' id="txt-3-1"></textarea></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="arrows-1" class="flechas">
                    <div class="row">
                      <table>
                        <tbody>
                          <tr>
                            <td><textarea class='txt_content' id="txt-4-1"></textarea><i id="arrow-3-1" class="arrow fa fa-arrow-down fa-4x editable-arrow-ud" aria-hidden="true"></i></td>
                            <td><textarea class='txt_content' id="txt-5-1"></textarea><i id="arrow-4-1" class="arrow fa fa-arrow-down fa-4x editable-arrow-ud" aria-hidden="true"></i></td>
                            <td><textarea class='txt_content' id="txt-6-1"></textarea><i id="arrow-5-1" class="arrow fa fa-arrow-down fa-4x editable-arrow-ud" aria-hidden="true"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form id="next-step">{% csrf_token %}
              <button class="btn-floating btn-large waves-effect waves-light green" type="submit" name="action">
                <i class="material-icons">trending_flat</i>
              </button>
            </form>
          </div>
       </div>
       <!-- Panel to ACTION the construction -->
       <div class="col s3">
         <form id="add-layer" class="input-field embed-button">{% csrf_token %}
          <input placeholder="Introduce nombre" id="layer-name" type="text" class="validate">
          <label for="layer-name">Añadir Capa</label>
          <!-- btn add-color instead of button tag because (I think) materialize gets button automatically for input -->
          <btn id="add-color" class="btn-floating waves-effect waves-light"></btn>
          <button id="btn-add-layer" class="btn-floating waves-effect waves-light green" type="submit" name="action">
            +
          </button>
        </form>

        <!-- <ul id="staggered-test" class="collection">
          <li id="txtname" class="collection-item" style="font-weight: 400; font-style: italic; color: dark-grey">
            Nombre
          </li>
          <form id="add-textarea" class="input-field">{% csrf_token %}
            <li class="collection-item">
                <div class="title-input">Descripción:</div>
                <textarea id="desc-box" placeholder="Introduce una descripción" class="materialize-textarea"></textarea>
            </li>
          <li class="collection-item" style="">
            <form action="#">
              <label for="file-input">Adjuntar archivo:</label>
              <div class="file-field input-field">
                <div id="add-file" class="btn">
                  <i class="small material-icons">attach_file</i>
                  <input id="file-input" type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </form>
          </li>
            <li class="collection-item" style="text-align: right; padding: 15px 20px;">
              <button class="waves-effect waves-light btn" type="submit" name="action">Añadir</button>
            </li>
          </form>
        </ul> -->
       </div>
     </div>
   </div>
 </main>


 <!--Import jQuery before materialize.js-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
 <script type="text/javascript" src="{% static 'diagrams/functions.js' %}"></script>
