<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'diagrams/style.css' %}" />


<ul id="dropdown1" class="dropdown-content">
  {% if user.groups.all.0.name == 'Admin' %}
  <li><a href="add_user/">Crear Usuario</a></li>
  {% endif %}
  <li class="divider"></li>
  <li><a href="/diagrams/login">Logout</a></li>
</ul>
<nav>
  <div class="container nav-wrapper">
    <a href="/diagrams/" class="brand-logo" style="font-weight: 300">CIOTool</a>
    <ul class="right hide-on-med-and-down">
      <li><i class="material-icons">perm_identity</i></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user }}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<main>
  <div class="container" style="margin-top: 20px">
    <div class="row">
      {% if user.groups.all.0.name == 'Admin' or user.groups.all.0.name == 'Constructor'%}
      <div class="col m2">
        <p class="center-text">
          <a href="{% url 'diagrams:creation' %}" class="btn-floating btn-large waves-effect waves-light green">
            <i class="material-icons">add</i>
          </a>
        </p>
      </div>
      {% endif %}
    {% if latest_diagram_list %}
        {% for diagram in latest_diagram_list %}
        {% if diagram.diagram_name %}
          <div class="col s2">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://www.myiconfinder.com/uploads/iconsets/256-256-0d4b4c3b1288008d5795655e2f96a33f-sitemap.png">
              </div>
              <div class="card-content">
                <p><b><a class='green-text' href="{% url 'diagrams:detail' diagram.id %}">{{ diagram.diagram_name}}</a></b></p>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    {% else %}
        <p>No diagrams are available.</p>
    {% endif %}
  </div>
</main>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
