<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  body {
    background: white;
  }

  .input-field input[type=date]:focus + label,
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
    color: green;
  }

  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 2px solid green;
    box-shadow: none;
  }
</style>
</head>

<body>
<div class="section"></div>
<main>
  <center>
    <!-- <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />
    <div class="section"></div> -->

    <h5 class="green-text thin"><b>CIOTool</b>  login to start creating</h5>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form class="col s12" method="post">{% csrf_token %}

          <div class='row'>
            <div class='col s12'>
              {% if not_validate %}
              <div class='red-text'><b>Login incorrecto!</b></div>
              {% endif %}
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input name='email' type='text' id='email' />
              <label for='email'>Introduce usuario</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='password' name='password' id='password' />
              <label for='password'>Introduce password</label>
            </div>

            <label style='float: right;'>
							<a class='blue-text' href='#!'><b>Recordar contraseña</b></a>
						</label>
          </div>

          <center>
            <div class='row'>
              <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green darken-1'>Login</button>
            </div>
          </center>
        </form>
      </div>
    </div>
    <!-- <a href="#!">Create account</a> -->
  </center>

  <div class="section"></div>
  <div class="section"></div>
</main>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
