<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Import Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'diagrams/style.css' %}" />

<ul id="dropdown1" class="dropdown-content">
  <li><a href="add_user/">Crear Usuario</a></li>
  <li class="divider"></li>
  <li><a href="/diagrams/login">Logout</a></li>
s</ul>
<nav>
  <div class="container nav-wrapper">
    <a href="/diagrams/" class="brand-logo" style="font-weight: 300">CIOTool</a>
    <ul class="right hide-on-med-and-down">
      <li><i class="material-icons">perm_identity</i></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user }}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>


<main class="container" style="padding-top: 20px">
  <div class="row">
    <form enctype="multipart/form-data" class="col s6" method="post">{% csrf_token %}
      <div class="row">
        <div style="margin-bottom: 10px"class="input-field col s12">
          {{ form.layer }}
        </div>
        <div class="input-field col s12">
          {{ form.txt_name }}
          <label for="{{ form.txt_name.id_for_txt_name }}">Título</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.description }}
          <label for="{{ form.description.id_for_description }}">Descripción</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {% if txt.upload %}
          <p>
            Fichero actual:
            <a href='{{ txt.upload.url }}'>{{txt.upload.name}}</a>
          </p>
          {% endif %}
          {{ form.upload }}
          <label for="{{ form.upload.id_for_upload }}"></label>
        </div>
      </div>
      <div style='float: right;'>
        <button class="btn waves-effect waves-light" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</main>



<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
