nav {
  background-color: #78909c;
}

.center-text {
  text-align: center;
}

/*ADD-LAYER input style with buttons*/
.embed-button {
  position: relative;
}

#btn-add-layer{
  position: absolute;
  right: 0px;
  top: 10px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;
}

#add-color {
  position: absolute;
  right: 25px;
  top: 10px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;
  border: solid;
  border-width: medium;
  border-color: grey;
  background-color: #FFB347;
}
/*ADD-LAYER*/




.panel {
  position: relative;
  width: 100%;
  min-height: 78vh;
  border: 1px solid #9e9e9e;
  padding: 10px 20px;
  margin: .5rem 0 1rem 0;
}

#save-diagram {
  position: absolute;
  bottom: 3vh;
  right: 4vh;
}

form textarea {
  resize: none;
  margin-top: 10px;
  min-height: 200px;
}

#next-step {
  position: absolute;
  bottom: 3vh;
  right: 4vh;
}

.panel .row {
  margin: 0px;
}

.panel textarea {
  border: none;
  resize: none;
  text-align: center;
  /*font-size: 1.3rem;*/
}

.capa {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  /*background-color: orange;*/
  font-weight: bold;
  margin-bottom: 5px;
}

.panel-uso textarea{
  text-align: center;
  border: none;
  resize: none;
  color: black;
  font-weight: 400;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  vertical-align:middle;
}

.panel-uso .capa textarea {
  height: 2rem;
}


#clon1 {
  visibility: hidden;
}


.capa .flecha-capa {
  max-width: 30px;
}

.capa td {
  padding: 0px;
}

.flechas td{
  padding: 0px;
  text-align: center;
  position:relative;
}

.flechas td textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.fix-width-30 {
  width: 30%;
  text-align: center;
}

#add-file{
  position: absolute;
  right: 0px;
  top: -10px;
  /*width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;*/
}

#add-box{
  float: right;
  position: absolute;
  right: 15px;
  top: 10px;
  /*width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;*/
}


#description-textarea {
  margin: 0
}

.title-input {
  font-size: .8rem;
  margin: 0;
  color: #9e9e9e;
  font-weight: 600;
}

.file-field .btn {
  padding: 0 .9rem;
  border-radius: 30px;
  float: right;
}

.collection .collection-item {
  border-bottom: 1px dashed #e0e0e0;
}

.container {
  width: 80%;
}

.detail-show textarea {
  cursor: hand;
}

select {
  display: block;
}
